
<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <nav>
    <ul>
      <li>
        <a href="http://localhost:4567/pizza-orders">Pizza Order</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
  <div class = "image">
    <img src="pizza.jpg" alt="Pizza" height="200" width="200">
  </div>
  <div class="footer>"
  <footer id="footer"><center>Week 4 day 2 Lab</center></footer>
</div>
</body>
</html>
